{
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "singleQuote": true,
    "tabWidth": 4,
    "importOrder": ["^react$", "^@?\\w", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
