.city {
  padding: 2rem 3rem;
  max-height: 70%;
  background: var(--glass-bg);
  border-radius: 16px;
  overflow: scroll;
  border: var(--glass-border);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur);
  box-shadow: var(--glass-shadow);

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.city h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color-light--1);
}

.city h3 {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.city h3 span {
  font-size: 3.2rem;
  line-height: 1;
}

.city p {
  font-size: 1.6rem;
}

.city a:link,
.city a:visited {
  font-size: 1.6rem;
  color: var(--color-brand--1);
  text-decoration: none;
}
